<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Bizpoint</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>MBXAccessToken</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoiaGh1dXRoaWVuMiIsImEiOiJjbG9jY2gxeGMxN3A2MmtxcWFuMnAxeGN1In0.9aXcjtgUdKzswfp8Hagaug</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>

	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSCameraUsageDescription</key>
	<string>This app use camera to scanQR code</string>
	<key>NSContactsUsageDescription</key>
	<string>Using contact for call when need</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(Bizpoint) Authentication with TouchId or FaceID</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Use location when need acccess current location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Use location when need acccess current location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use location when need acccess current location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(Bizpoint) would like access to your photo gallery</string>
	<key>UIAppFonts</key>


	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
		<string>FiraSans-Black.ttf</string>
		<string>FiraSans-BlackItalic.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>FiraSans-BoldItalic.ttf</string>
		<string>FiraSans-ExtraBold.ttf</string>
		<string>FiraSans-ExtraBoldItalic.ttf</string>
		<string>FiraSans-ExtraLight.ttf</string>
		<string>FiraSans-ExtraLightItalic.ttf</string>
		<string>FiraSans-Italic.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>FiraSans-LightItalic.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-MediumItalic.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>FiraSans-SemiBold.ttf</string>
		<string>FiraSans-SemiBoldItalic.ttf</string>
		<string>FiraSans-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
